@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url(./images/background.jpg);
  max-height: 500px;
  background-size: cover;
}
.login {
  border-radius: 20px;
  font-size: 18px;
  width: 400px;
  height: 420px;
  margin-left: auto;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50% -50%);
}
.login input {
  width: 100%;
  margin-bottom: 20px;
}
.login input[type="text"],
.login input[type="password"] {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  outline: none;
  height: 30px;
  opacity: 1;
  color: #ccc;
  font-size: 17px;
}

.signUp-text {
  margin: 0;
  text-align: center;
  padding: 0 0 20px;
  color: cyan;
}
.register-text1 {
  margin-top: 80px;
  font-size: 15px;
  text-align: center;
  color: white;
}
.register-text2:hover {
  color: cyan;
  transition: all 0.5s ease 0s;
}
li,
a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
header {
  background-color: #24252a;
  display: flex;
  padding: 30px 10%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 10px;
}
.btn_login {
  background-color: cyan;
  text-align: left;
  padding: 9px 25px;
  border-radius: 80px;
  border: none;
  transition: all 0.5s ease 0s;
}
.btn_login:hover {
  background-color: greenyellow;
}
.user-avt {
  border-radius: 50%;
  width: 50px;
  cursor: pointer;
  margin-right: auto;
}
.nav_link {
  list-style: none;
  margin-left: 0;
}
.nav_link li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_link li a {
  transition: all 0.3s ease 0s;
}
.nav_link li a:hover {
  color: #0088a9;
}

.signButton {
  transition: all 0.3s ease 0s;
  padding: 9px 25px;
  border-radius: 80px;
  background-color: cyan;
  border: none;
  color: black;
  cursor: pointer;
}
.signButton:hover {
  background-color: greenyellow;
}
.login {
  transition: all 1s ease 0s;
  display: block;
  text-align: left;
  position: relative;
}
::placeholder {
  color: #ddd;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ddd;
}

::-ms-input-placeholder {
  color: #ddd;
}
.form {
  margin-top: 60px;
}
.btn-loggout {
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: orange;
}
.hello-user {
  color: white;
  font-size: 14px;
  margin-left: 10px;
  margin-right: auto;
}
.hello-user:hover {
  font-size: 14px;
  color: greenyellow;
}
